<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- links --->
      <link rel="stylesheet" href="../../css/normalize.css">
      <link rel="stylesheet" href="../../css/all.min.css">
      <link rel="stylesheet" href="css/framework.css">
      <link rel="stylesheet" href="css/template-four.css">
      <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <!-- links --->

    <title>DashBoard | template-four</title>
</head>
<body>
    <div class="page d-flex">
        <div class="side bg-white p-20 p-relative">
            <h3>Elzero</h3>
            <ul class="links">
                <li><a  class="active p-flex align-ce fs-14 c-black rad-6 p-10" href="template-four.html">
                    <i class="fa-regular fa-chart-bar fa-fw "></i>
                   <span class="fs-14 hide-content">DashBoard</span> 
                </a></li>
                <li><a  class=" p-flex align-ce fs-14 c-black rad-6 p-10" href="template-four.html">
                    <i class="fa-solid fa-gear fa-fw"></i>
                           <span class="fs-14 hide-content">Settings</span> 
                </a></li>
                <li><a  class=" p-flex align-ce fs-14 c-black rad-6 p-10" href="template-four.html">
                    <i class="fa-regular fa-user fa-fw "></i>
                   <span class="fs-14 hide-content">Profile</span> 
                </a></li>
                <li><a  class=" p-flex align-ce fs-14 c-black rad-6 p-10" href="template-four.html">
                    <i class="fa-solid fa-diagram-project fa-fw "></i>                   
                    <span class="fs-14 hide-content">Projects</span> 
                </a></li>
                <li><a  class=" p-flex align-ce fs-14 c-black rad-6 p-10" href="template-four.html">
                    <i class="fa-solid fa-graduation-cap fa-fw "></i>
                     <span class="fs-14 hide-content">courses</span> 
                </a></li>
                <li><a  class=" p-flex align-ce fs-14 c-black rad-6 p-10" href="template-four.html">
                    <i class="fa-regular fa-circle-user fa-fw fa-fx"></i>
                   <span class="fs-14 hide-content">friends</span> 
                </a></li>
                <li><a  class=" p-flex align-ce fs-14 c-black rad-6 p-10" href="template-four.html">
                    <i class="fa-regular fa-file fa-fw fa-fx"></i>
                   <span class="fs-14 hide-content">Files</span> 
                </a></li>
                <li><a  class=" p-flex align-ce fs-14 c-black rad-6 p-10" href="template-four.html">
                    <i class="fa-regular fa-credit-card fa-fw fa-fx"></i>
                   <span class="fs-14 hide-content">Plans</span> 
                </a></li>
            
               </ul>
        </div>
        <div class="content w-full">
            <div class="head bg-white p-15 between-flex">
                <div class="search p-relative">
                <input type="search" class="p-10" placeholder="type a key word"></input>
            </div>
                <div class="icons d-flex align-ce">
                    <span class="notifcation p-relative">
                        <i class="fa-regular fa-bell fa-lg"></i>
                    </span>
                    <i class="user fa-regular fa-circle-user fa-lg"></i>
                </div>
            </div>
            <h1 class="p-relative">DashBoard</h1>
            <div class="wrapper d-grid gap-20 ">
            <div class="welcome bg-white rad-10 text-c-mobile block-mobile p-20">
                <div class="intro p-20 d-flex space-between bg-eee">
                  <div>
                    <h2 class="m-0">Welcome</h2>
                     <p class="c-grey mt-5">Elzero</p>
                    </div>
                <img src="media/welcome.png" alt="" class="hide-content">
            </div>
            <img src="media/avatar.png" alt="" class="avatar">
            <div class="body text-c d-flex p-20 mt-20 mb-20 block-mobile">
                <div>Osama Elzero<span class="d-block color-gray fs-14 mt-10">Developer</span></div>
                <div>80<span class="d-block color-gray fs-14 mt-10">Projects</span></div>
                <div>$850<span class="d-block color-gray fs-14 mt-10" >earned</span></div>
            </div>
            <a href="profile.html" class="visit fs-14  bg-blue c-white w-fit btn-shape ">Profile</a>
            </div>

            <div class="quick-draft p-20 bg-white rad-10">
                <h2 class="mt-0 mb-10 ">Quick Draft</h2>
                <p class="mt-0 mb-20 fs-14 c-grey">Write a draft for your ideas</p>
                <form action="">
                    <input class="d-block mb-20 w-full p-10 bg-eee b-none rad-6 " type="text" name="" id="" placeholder="Title">
                    <textarea  class="d-block mb-20 w-full p-10 bg-eee b-none rad-6 " name="" id=""  placeholder = "your thoughts" ></textarea>
                    <input  class ="save d-block fs-14 bg-blue c-white b-none w-fit btn-shape" type="submit" value="Save">
                </form>
            </div>
            <div class="target p-20 bg-white rad-10">
                <h2 class="mt-0 mb-10">Yearly Targets</h2>
                <p class="mt-0 mb-10 fs-14 c-grey">Targets of the year</p>
            <div class="target-row mb-20 blue center-flex">
                <div class="icon center-flex">
                    <i class="fa-solid fa-dollar-sign fa-lg c-blue "></i>
                </div>
                <div class="details">
                    <span class="fs-14 c-grey">Money</span>
                    <span class="d-block mt-5 mb-10 fw-bold">$20.000</span>
                    <div class="progress p-relative"><span style="width : 40%" class="bg-blue blue ">
                    <span class="bg-blue c-white rad-6 ">40%</span></span></div>
                </div>
               
            </div>
            <div class="target-row mb-20 orange center-flex">
                <div class="icon center-flex">
                    <i class="fa-solid fa-user fa-lg c-orange "></i>
                </div>
                <div class="details">
                    <span class="fs-14 c-grey">Projects</span>
                    <span class="d-block mt-5 mb-10 fw-bold">24</span>
                    <div class="progress p-relative"><span style="width : 55%" class="bg-orange orange ">
                    <span class="bg-orange c-white rad-6 ">55%</span></span></div>
                </div>
               
            </div>
            <div class="target-row mb-20 green center-flex">
                <div class="icon center-flex">
                    <i class="fa-solid fa-code fa-lg c-green "></i>
                </div>
                <div class="details">
                    <span class="fs-14 c-grey">template-four</span>
                    <span class="d-block mt-5 mb-10 fw-bold">12</span>
                    <div class="progress p-relative"><span style="width : 75%" class="bg-green green ">
                    <span class="bg-green c-white rad-6 ">75%</span></span></div>
                </div>
               
            </div>
            
            </div>
            <div class="tickets p-20 bg-white rad-10">
                <h2 class="mt-0 mb-10 ">Tickets statistics</h2>
                <p class="mt-0 mb-20 fs-14 c-grey">Every thing about support tickets</p>
                <div class="d-flex text-c gap-20 f-wrap">
                    <div class="box p-20 rad-10 fs-14 c-grey">
                    <i class="fa-solid fa-rectangle-list fa-2x mb-10 c-orange"></i>
                    <span class="d-block c-black fw-bold fs-25 mb-5">2500</span>
                    <span class="c-grey">Total</span>
                </div>
                <div class="box p-20 rad-10 fs-14 c-grey">
                    <i class="fa-solid fa-spinner fa-2x mb-10 c-blue"></i>
                    <span class="d-block c-black fw-bold fs-25 mb-5">500</span>
                    <span class="c-grey">pending</span>
                </div>
                <div class="box p-20 rad-10 fs-14 c-grey">
                    <i class="fa-solid fa-circle-check fa-2x mb-10 c-green"></i>
                    <span class="d-block c-black fw-bold fs-25 mb-5">1900</span>
                    <span class="c-grey">closed</span>
                </div>
                <div class="box p-20 rad-10 fs-14 c-grey">
                    <i class="fa-solid fa-rectangle-xmark fa-2x mb-10 c-red"></i>
                    <span class="d-block c-black fw-bold fs-25 mb-5">100</span>
                    <span class="c-grey">deleted</span>
                </div>
                </div>
                
            </div>
            <div class="news p-20 bg-white rad-10 text-c-mobile">
                <h2 class="mt-0 mb-20 ">latest news</h2>

                <div class="box d-flex align-ce block-mobile">
                    <img src="media/news-01.png" alt="">
                    <div class="info">
                    <h3 >created sass section</h3>
                    <p class="c-grey m-0 fs-14">New SASS Examples & Tutorials</p>
                </div>
                <div class="bg-eee btn-shape fs-14 lable">3 day ago</div>
                </div>

                <div class="box d-flex align-ce block-mobile">
                    <img  src="media/news-02.png" alt="">
                    <div class="info">
                    <h3 >change the design</h3>
                    <p class="c-grey m-0 fs-14">A Brand New Website Design</p>
                </div>
                <div class="bg-eee btn-shape fs-14 lable ">5 day ago</div>
                </div>
                
                <div class="box d-flex align-ce block-mobile">
                    <img src="media/news-03.png" alt="">
                    <div class="info">
                    <h3>team increased</h3>
                    <p class="c-grey m-0 fs-14">3 Developers Joined The Team</p>
                </div>
                <div class="bg-eee btn-shape fs-14 lable">7 day ago</div>
                </div>
                <div class="box d-flex align-ce block-mobile">
                    <img src="media/news-04.png" alt="">
                    <div class="info">
                    <h3>Added Payment Gateway</h3>
                    <p class="c-grey m-0 fs-14">Many New Payment Gateways Added</p>
                </div>
                <div class="bg-eee btn-shape fs-14 lable">9 day ago</div>
                </div>
            </div>
            <div class="tasks p-20 bg-white rad-10 ">
                <h2 class="mt-0 mb-20">latest Tasks</h2>
                <div class="task between-flex">
                    <div class="info">
                    <h3 class="m-0 mb-5 fs-14">Record One New Video</h3>
                    <p class="m-0 c-grey">Record Python Create Exe Project</p>
                </div>
                <i class="fa-solid fa-trash delete"></i>
                </div>
                <div class="task between-flex">
                    <div class="info">
                    <h3 class="m-0 mb-5 fs-14">erite article</h3>
                    <p class="m-0 c-grey">Write Low Level vs High Level Languages</p>
                </div>
                <i class="fa-solid fa-trash delete"></i>
                </div>
                <div class="task between-flex">
                    <div class="info">
                    <h3 class="m-0 mb-5 fs-14">Finish Project</h3>
                    <p class="m-0 c-grey">Publish Academy Programming Project</p>
                </div>
                <i class="fa-solid fa-trash delete"></i>
                </div>
                <div class="task between-flex">
                    <div class="info">
                    <h3 class="m-0 mb-5 fs-14">Attend The Meeting</h3>
                    <p class="m-0 c-grey">Attend The Project Business Analysis Meeting</p>
                </div>
                <i class="fa-solid fa-trash delete"></i>
                </div>
                <div class="task between-flex done">
                    <div class="info">
                    <h3 class="m-0 mb-5 fs-14">Finish Lesson</h3>
                    <p class="m-0 c-grey">Finish Teaching Flex Box </p>
                </div>
                <i class="fa-solid fa-trash delete"></i>
                </div>

            </div>
            
        </div>
        </div>
    </div>
</body>
</html>